<section class="bg-white py-5">
  <div class="container">
    <div class="heading mb-4 d-flex align-items-center justify-content-between">
      <h2 class="mb-4">
        <span class="text-capitalize">shop</span> by categories
      </h2>
      <div class="heading-icons d-flex gap-3">
        <span class="d-flex justify-content-center align-items-center px-2 py-1 border border-1 border-secondary-subtle rounded-2 cursor-pointer">
          <mat-icon aria-hidden="false" aria-label="Example">arrow_back</mat-icon>
        </span>
        <span class="d-flex justify-content-center align-items-center px-2 py-1 border border-1 border-secondary-subtle rounded-2 cursor-pointer">
          <mat-icon aria-hidden="false" aria-label="Example">arrow_forward</mat-icon>
        </span>
      </div>
    </div>
    
    <div class="cards">
      <div class="row gap-3 flex-nowrap">
        @for (category of categoriesList; track category) {
          <div class="col-md-3">
            <app-category-card [category]="category" />
          </div>
        }
      </div>
    </div>
  </div>
</section>
