<div
  class="mega-menu position-absolute top-100 bg-white p-3 " [class.show]="showMenu"
>
  <div class="px-3">
    <h4 class="text-capitalize fw-bold">men</h4>
    <ul class="text-capitalize list-unstyled">
      <li><a href="#">t-shirts</a></li>
      <li>
        <a href="#">causal <span class="text-lowercase">shits</span> </a>
      </li>
      <li>
        <a href="#">formal <span class="text-lowercase">shits</span> </a>
      </li>
      <li><a href="#">jackets</a></li>
      <li><a href="#">blazers & coats</a></li>
      <li><a href="#">shirts</a></li>
    </ul>
    <h4 class="text-capitalize fw-bold">indian & festive wear</h4>
    <ul class="text-capitalize list-unstyled">
      <li><a href="#">kurtas & kurta sets</a></li>
      <li>
        <a href="#"><a href="#">sherwanis</a></a>
      </li>
    </ul>
  </div>
  <div class="px-3">
    <h4 class="text-capitalize fw-bold">woman</h4>
    <ul class="text-capitalize list-unstyled">
      <li><a href="#">kurtas & suits</a></li>
      <li><a href="#">sarees</a></li>
      <li>
        <a href="#">ethnic <span class="text-lowercase">wear</span> </a>
      </li>
      <li>
        <a href="#">lehenga <span class="text-lowercase">cholis</span> </a>
      </li>
      <li><a href="#">jackets</a></li>
    </ul>
    <h4 class="text-capitalize fw-bold">western wear</h4>
    <ul class="text-capitalize list-unstyled">
      <li><a href="#">dressess</a></li>
      <li>
        <a href="#"><a href="#">jumpsuits</a></a>
      </li>
    </ul>
  </div>
  <div class="px-3">
    <h4 class="text-capitalize fw-bold">footwear</h4>
    <ul class="text-capitalize list-unstyled">
      <li><a href="#">flats</a></li>
      <li>
        <a href="#">causal <span class="text-lowercase">shoes</span> </a>
      </li>
      <li><a href="#">heels</a></li>
      <li><a href="#">boots</a></li>
      <li>
        <a href="#"
          >sports <span class="text-lowercase">shoes </span>& Floaters
        </a>
      </li>
    </ul>
    <h4 class="text-capitalize fw-bold">
      Product <span class="text-lowercase">features</span>
    </h4>
    <ul class="text-capitalize list-unstyled">
      <li>
        <a href="#">360 Product <span class="text-lowercase">viewer </span></a>
      </li>
      <li>
        <a href="#"
          ><a href="#"
            >Product <span class="text-lowercase">with Video</span></a
          ></a
        >
      </li>
    </ul>
  </div>
  <div class="px-3">
    <h4 class="text-capitalize fw-bold">kids</h4>
    <ul class="text-capitalize list-unstyled">
      <li><a href="#">t-shirts</a></li>
      <li><a href="#">shirts</a></li>
      <li><a href="#">jeans</a></li>
      <li><a href="#">trousers</a></li>
      <li>
        <a href="#">Party <span class="text-lowercase">wear</span></a>
      </li>
      <li><a href="#">innerwear & thermal</a></li>
      <li>
        <a href="#">Track <span class="text-lowercase">pants</span> </a>
      </li>
      <li>
        <a href="#">value <span class="text-lowercase">pack</span> </a>
      </li>
    </ul>
  </div>
</div>
