section {
  max-height: 100vh;
  .container-fluid {
    img {
      max-height: 100vh;
      width: 100%;
    }
  }
  // background-image: url("../../../assets/images/Account/bgLogin.png");
  // background-position: center center;
  // background-size: cover;
  // background-repeat: no-repeat;
  .login-form {
    // height: 500px;
    // width: 500px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
  }
}
