<section>
  <div class="container-fluid px-0 h-100 overflow-hidden">
    <div class="row mx-0">
      <div class="col-md-6 px-0">
        <img src="assets/images/Account/bgLogin1.jpeg" alt="" />
      </div>
      <div class="col-md-5 col-12 p-5 d-flex align-items-center">
        <div class="row w-100 justify-content-center">
          <div class="col-12 mb-5">
            <div
              class="d-flex justify-content-center align-items-start flex-column px-5"
            >
              <h1 class="fw-bold mb-0">Create new account</h1>
              <div class="text-muted">Please enter details</div>
            </div>
          </div>
          <div class="col-md-10 col-12">
            <div class="login-form">
              <form
                [formGroup]="registerForm"
                (ngSubmit)="register()"
                class="row"
              >
                <mat-form-field appearance="outline" class="col-12 mb-3">
                  <mat-label>First name</mat-label>
                  <input matInput type="text" formControlName="firstName" />
                  @if(registerForm.get('firstName')?.hasError('required')) {
                  <mat-error>First name required</mat-error>
                  } @if(registerForm.get('firstName')?.hasError('minlength')) {
                  <mat-error>Name must be at least 4 characters</mat-error>
                  } @if(registerForm.get('firstName')?.hasError('maxlength')) {
                  <mat-error
                    >Name can't contain more than 10characters</mat-error
                  >
                  }
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-12 mb-3">
                  <mat-label>Last name</mat-label>
                  <input matInput type="text" formControlName="lastName" />
                  @if(registerForm.get('lastName')?.hasError('required')) {
                  <mat-error>Last name required</mat-error>
                  } @if(registerForm.get('lastName')?.hasError('minlength')) {
                  <mat-error>Last name must be at least 4 characters</mat-error>
                  } @if(registerForm.get('lastName')?.hasError('maxlength')) {
                  <mat-error
                    >Last name can't contain more than 10characters</mat-error
                  >
                  }
                </mat-form-field>


                <mat-form-field appearance="outline" class="col-12 mb-3">
                  <mat-label>Email adress</mat-label>
                  <input matInput type="email" formControlName="email" />
                  @if(registerForm.get('email')?.hasError('required')) {
                  <mat-error>email required</mat-error>
                  } @if(registerForm.get('email')?.hasError('email')) {
                  <mat-error>email not valid</mat-error>
                  }
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-12 mb-3">
                  <mat-label>Enter your password</mat-label>
                  <input
                    matInput
                    [type]="hide ? 'password' : 'text'"
                    formControlName="password"
                  />
                  <button
                    mat-icon-button
                    matSuffix
                    (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide"
                    class="border-0 bg-transparent"
                  >
                    <mat-icon>{{
                      hide ? "visibility_off" : "visibility"
                    }}</mat-icon>
                  </button>
                  @if(registerForm.get('password')?.hasError('required')) {
                  <mat-error>password required</mat-error>
                  } @if(registerForm.get('password')?.hasError('minlength')) {
                  <mat-error>Password must be at least 8 characters</mat-error>
                  }
                </mat-form-field>
                <div class="col-12">
                  <div>
                    <mat-checkbox color="primary" formControlName="agreeTerms"
                      >I agree to the
                      <a class="text-decoration-none fw-semibold text-dark"
                        >Terms and Conditions</a
                      >
                    </mat-checkbox>
                  </div>
                </div>
                <div class="col-12">
                  <button
                    class="btn border rounded-2 py-2 w-100 mb-2"
                    [disabled]="registerForm.invalid"
                  >
                    Register
                  </button>
                  <p>
                    You have already an account?
                    <span>
                      <a
                        class="anchor cursor-pointer fw-medium"
                        (click)="navigateToLoginPage()"
                        >login</a
                      ></span
                    >
                  </p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
