<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="month-deals-img">
          <img
            src="assets/images/monthly_deals/month_deals.png"
            alt="month deals"
          />
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <div
          class="month-deals-text d-flex flex-column "
        >
          <h2 class="font-courier">Exclusive Offer</h2>
          <div class="row">
            <div class="col-md-8">
                <p class="font-courier mb-4">
                  Unlock the unlimited style upgrade with our exclusive offer Enjoy
                  savings of up to 40% off on your latest New Arrivals
                </p>

            </div>
          </div>
          <div class="box-count d-flex gap-4 mb-4">
            <div class="box-count-days d-flex flex-column justify-content-center align-items-center">
                <span class="number">03</span>
                <span class="text">Days</span>

            </div>
            <div class="box-count-hours  d-flex flex-column justify-content-center align-items-center">
                 <span class="number">19</span>
                <span class="text">Hours</span>
            </div>
            <div class="box-count-munites  d-flex flex-column justify-content-center align-items-center">
                 <span class="number">26</span>
                <span class="text">Min</span>
            </div>
          </div>
          <div class="button-explore">
            <button>Shop Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
