<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="month-deals-img">
          <img
            src="assets/images/monthly_deals/month_deals.png"
            alt="month deals"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div
          class="month-deals-text d-flex flex-column justify-content-center align-items-center"
        >
          <h4>Exclusive Offer</h4>
          <p>
            Unlock the unlimited style upgrade with our exclusive offer Enjoy
            savings of up to 40% off on your latest New Arrivals
          </p>
          <div class="button-explore">
            <button>test</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
