@import"../../../../assets/sass/main.scss";
    .container {
        .navbar-brand {
            img {
                width: 80px;
            }
        }
        .navbar-icons {
            span {
                i {
                    color: rgba($color: #000000, $alpha: 0.7);
                    transition: $transition;
                    &:hover {
                        color: rgba($color: #000000, $alpha: 0.9)
                    }
                }
            }}}
