<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container d-flex justify-content-between">
      <a class="navbar-brand cursor-pointer">
        <img src="../../../../assets/images/logo.png" alt="logo" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse flex-grow-0"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav mb-2 mb-lg-0 text-capitalize">
          <li class="nav-item cursor-pointer">
            <a class="nav-link active" aria-current="page">home</a>
          </li>
          <li
            class="nav-item dropdown cursor-pointer"
            (mouseenter)="toggleMenu(true)"
            (mouseleave)="toggleMenu(false)"
          >
            <a class="nav-link dropdown-toggle">shop</a>
          </li>
          <li class="nav-item cursor-pointer">
            <a class="nav-link">
              our <span class="text-lowercase">story</span>
            </a>
          </li>
          <li class="nav-item cursor-pointer">
            <a class="nav-link">blog</a>
          </li>
          <li class="nav-item cursor-pointer">
            <a class="nav-link">
              contact <span class="text-lowercase">us</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="navbar-icons d-flex align-items-center justify-content-between" >
        <span class="cursor-pointer">
          <i class="fa-solid fa-magnifying-glass fa-xl"></i>
        </span>
        <span class="cursor-pointer mx-2">
          <i class="fa-regular fa-heart fa-xl"></i>
        </span>
        <span class="cursor-pointer me-3">
          <i class="fa-solid fa-store fa-xl"></i>
        </span>
        <button class="text-capitalize btn btn-dark ">login</button>
      </div>
    </div>
  </nav>
</header>
