<section class="h-100">
  <div class="row align-items-center justify-content-between h-100">
    <div class=" col-md-6">
        <div class="wrapper">
            <div class="banner-title mb-4">
          <h1 class="text-capitalize mb-2 font-courier">discover and</h1>
          <span class="text-capitalize mb-2 d-block font-courier"> find your </span>
          <span class="text-capitalize d-block font-courier"> own fashion </span>
            </div>
          <div class="banner-text font-courier mb-5">
            <p>explore Our curated collection of stylish clothing And Accessories Tailored To Your unique taste</p>
          </div>
          <div class="banner-btn">
            <button class="btn rounded-0 text-white text-center px-4 text-uppercase">explore now</button>
          </div>
        </div>
        </div>
        <div class="col-md-5 ">
            <div class="banner-image text-end">
                <img src="../../../../assets/images/bg-banner.png"  alt="" />
            </div>
    </div>
    </div>
</section>
