@import "../../../../assets/sass/main";
section {
    background-color: $baner-background-color;
    padding: 100px 0 20px;
  .wrapper {
    width: 90%;
    .banner-title {
      h1,
      span {
        color: $main-color;
        font-size: 4.5rem;
        line-height: 55px;
      }
    }
    .banner-text {
      font-size: 1.5rem;
      line-height: 25px;
    }
  }
  .banner-image {
    img {
      width: 90%;
    }
  }
}
