<section>
  <div class="container-fluid px-0 h-100 overflow-hidden">
    <div class="row mx-0">
      <div class="col-md-6 px-0">
        <img src="assets/images/Account/forgotPassword3.jpeg"  alt="" />
      </div>
      <div class="col-md-6 col-12 p-5 d-flex align-items-center">
        <div class="row w-100 justify-content-center">
            <div class="col-10 mb-5 ">
                <span class="cursor-pointer" (click)="navigateToLoginPage()">
                    <a class="text-decoration-none text-dark">
                        <i class="fa-solid fa-chevron-left"></i>
                        Back
                    </a>

                </span>
            </div>
             <div class="col-10 mb-4">
            <div
              class="d-flex justify-content-center align-items-start flex-column "
            >
              <h1 class="fw-bold mb-0">Forgot password</h1>
              <div class="text-muted">Enter your registered email, we'll send you a code to reset your password.</div>
            </div>
          </div>
          <div class="col-md-10 col-12">
            <div class="login-form">
              <form [formGroup]="forgotPasswordForm" (ngSubmit)="submitForm()" class="row">
                <mat-form-field appearance="outline" class="col-12 mb-3">
                  <mat-label>Email adress</mat-label>
                  <input matInput type="email" formControlName="email" />
                  @if(forgotPasswordForm.get('email')?.hasError('required')) {
                  <mat-error>email required</mat-error>
                  } @if(forgotPasswordForm.get('email')?.hasError('email')) {
                  <mat-error>email not valid</mat-error>
                  }
                </mat-form-field>
                 
          <div class="col-12 mt-3" >
            <button class="btn border rounded-2 py-2 w-100 mb-3" [disabled]="forgotPasswordForm.invalid">Send OTP</button>
          </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
