<section class="py-5 container-fluid text-white">
  <div class="container">
    <div class="footer-top">
      <div class="row">
        <div class="col-md-3">
          <h3 class="mb-2 fw-bold">Shopping</h3>
          <ul class="links list-unstyled">
            <li class="py-2">
              <i class="fa-solid fa-phone-volume"></i> (704) 555-0127
            </li>
            <li class="py-2">
              <i class="fa-regular fa-envelope"></i> shopping&#64;example.com
            </li>
            <li class="py-2">
              <i class="fa-solid fa-location-dot"></i> 3891 Ranchview Dr.
              Richardson, California 62639
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h4 class="mb-2 fw-semibold">Information</h4>
          <ul class="links list-unstyled">
            <li class="py-2">
              <a href="#">My account</a>
            </li>
            <li class="py-2">
              <a href="#">Login</a>
            </li>
            <li class="py-2">
              <a href="#">My cart</a>
            </li>
            <li class="py-2">
              <a href="#">My wishlist</a>
            </li>
            <li class="py-2">
              <a href="#">Checkout</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h4 class="mb-2 fw-semibold">Services</h4>
          <ul class="links list-unstyled">
            <li class="py-2">
              <a href="#">About us</a>
            </li>
            <li class="py-2">
              <a href="#">Careers</a>
            </li>
            <li class="py-2">
              <a href="#">Delivery innformation</a>
            </li>
            <li class="py-2">
              <a href="#">Privacy policy</a>
            </li>
            <li class="py-2">
              <a href="#">Terms & conditions</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h4 class="mb-2 fw-semibold">Subscribe</h4>
          <p>
            Enter your email below to be the first to know about new collections
            and product launches
          </p>
          <div class="footer-form">
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="Your email"
                aria-label="Recipient's username"
                aria-describedby="button-addon2"
              />
              <button
                class="btn btn-outline-secondary"
                type="button"
                id="button-addon2"
              >
                <i class="fa-solid fa-arrow-right fa-xl"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-buttom">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </div>
</section>
