@import "../../../../assets/sass/main";
section {
  background-color: $main-color;
  .container {
    .footer-top {
      ul.links {
        li {
          a {
            text-decoration: none;
            color: #fff;
            transition: $transition;
            &:hover {
            color: $color-text;
            }
          }
        }
      }
      .footer-form {
        .input-group {
            input {
                &:focus {
                    box-shadow: none;
                }
            }
            button {
                &:hover {
                    background-color: $color-text;
                }
            }
        }
      }
    }
  }
}
