@import "../../../../../assets/sass/main.scss";
.comment-wrapper {
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.9);
  transition: $transition;
  &:hover {
    background-color: $baner-background-color;
  }
  .heading {
    .title {
      h3 {
        color: $main-color;
      }
    }
  }
}
