<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="heading mb-4 text-center">
          <h2 class="mb-4  font-courier fw-bolder">
            <span class="text-capitalize">best</span> selling
          </h2>
        </div>
      </div>
    </div>
    <div class="cards">
      <div class="row g-5">
        @for (product of products; track product) {
        <div class="col-md-3">
            <app-product-card [product]="product"/>
          </div>
        }
      </div>
    </div>
  </div>
</section>
