<section>
  <div class="container py-5">
    <div class="row g-4">
      <div class="col-md-3">
        <div class="service-box py-4 ps-2">
          <div class="service-box-icon mb-3">
             <i class="fa-solid fa-truck-fast fa-2xl"></i>
          </div>
          <div class="service-box-content">
            <h3 class="mb-0 fw-semibold">Free shipping</h3>
            <p>Free shipping for order above $150</p>
          </div>
        </div>
      </div>
       <div class="col-md-3">
        <div class="service-box py-4 ps-2">
          <div class="service-box-icon  mb-3">
        <i class="fa-solid fa-sack-dollar fa-2xl"></i>
          </div>
          <div class="service-box-content">
            <h3 class="mb-0 fw-semibold">Money garantee</h3>
            <p>within 30 days for an exchange</p>
          </div>
        </div>
      </div>
       <div class="col-md-3">
        <div class="service-box py-4 ps-2">
          <div class="service-box-icon mb-3">
           <i class="fa-solid fa-headphones fa-2xl"></i>
          </div>
          <div class="service-box-content">
            <h3 class="mb-0 fw-semibold">Online support</h3>
            <p>24 hours a day, 7 days a week</p>
          </div>
        </div>
      </div>
       <div class="col-md-3">
        <div class="service-box py-4 ps-2">
          <div class="service-box-icon mb-3">
           <i class="fa-regular fa-credit-card fa-2xl"></i>
          </div>
          <div class="service-box-content">
            <h3 class="mb-0 fw-semibold">Flexible payment</h3>
            <p>Pay with multiple crefdit cards</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
